{% for interfaces, vals in nodes[inventory_hostname].items() %}
{% for intfs in vals %}
{% if intfs.interface_type=="ethernetCsmacd" %}
interface {{ intfs.interface_name }} {{ intfs.interface_port }}
	ip rsvp bandwidth value {{ intfs.rsvp_bandwidth_kbps }}
{% endif %}
{% endfor %}
{% endfor %}