mpls ldp discovery targeted-hello accept
mpls ldp graceful-restart
mpls ldp nsr
{% for interfaces, vals in nodes[inventory_hostname].items() %}
{% for intfs in vals %}
{% if intfs.interface_type=="softwareLoopback" %}
mpls ldp router-id {{ intfs.interface_name }}{{ intfs.interface_port }} force
{% endif %}
{% endfor %}
{% endfor %}
router ospf {{ ospf[inventory_hostname].ospf_id }}
	mpls ldp autoconfig
	mpls ldp sync
