mpls traffic-eng nsr
mpls traffic-eng tunnels
{% for interfaces, vals in nodes[inventory_hostname].items() %}
router isis {{ isis_node_settings[inventory_hostname].isis_area_tag }}
	mpls traffic-eng {{ isis_node_settings[inventory_hostname].isis_level_mpls_te }}
{% for intfs in vals %}
{% if intfs.interface_type=="softwareLoopback" %}
	mpls traffic-eng router-id {{ intfs.interface_name }}{{intfs.interface_port}}
{% endif %}
{% endfor %}
{% endfor %}

{% for interfaces, vals in nodes[inventory_hostname].items() %}
{% for intfs in vals %}
{% if intfs.interface_type=="ethernetCsmacd" %}
interface {{intfs.interface_name }} {{ intfs.interface_port }}
	mpls traffic-eng tunnels
{% endif %}
{% endfor %}
{% endfor %}